.DS_Store
node_modules
.idea
.claude
.vscode
*dump*.sql
*.iml
dist
dist-server
.tmp
.env
data-to-import
infra/inventory.ini
yarn-error.log
legacy-data-migration/work/expenses.json
legacy-data-migration/work/payers.json
legacy-data-migration/work/payment-types.json
legacy-data-migration/import_vars.sh
