.DS_Store
node_modules
.idea
*.iml
dist
.tmp
.env
data-to-import

yarn-error.log
legacy-data-migration/work/expenses.json
legacy-data-migration/work/payers.json
legacy-data-migration/work/payment-types.json
