.b__payment-list {
  max-height: 87vh;
  overflow: auto;
}

.b__payments-container {
  display: flex;
  flex-direction: column;
}

.b__payments-footer {
  box-shadow: 0px -10px 10px -10px #c3c3c3;
  height: 30px;
  padding: 5px;
}
